/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Убираем стрелочки у input[type='number'] */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Кастомный стиль для числового инпута в корзине */
.custom-number-input {
  @apply bg-gray-800 border border-gray-600 text-white text-center rounded w-16 px-2 py-1;
}

@keyframes spin-slow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-spin-slow {
  background-size: 300% 300%;
  animation: spin-slow 6s linear infinite;
  border-radius: 0.75rem; /* = rounded-xl */
}

